PORT=5000
MONGO_URL=your_mongodb_connection_string
SECRET_ONE=your_jwt_secret_one
SECRET_TWO=your_jwt_secret_two
publicKey=your_imagekit_public_key
privateKey=your_imagekit_private_key
urlEndpoint=your_imagekit_url_endpoint
ADMINKEY=your_admin_secret_key

RAZOR_1=your_razorpay_key_id
RAZOR_2=your_razorpay_key_secret
